html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
}

.center {
    text-align: center;
}


/*=======  Header Styles  ========*/
.navbar {
    background-color:#303634;
    padding-top:10px;
    padding-bottom: 5px;
    color: blue;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
    color: blue;
}

#back-btn {
    background-color: white;
    font-size: medium;
    padding-bottom: 12px;
    color: black;
}

/*===== Content Styles =====*/
.content {
    background-color: white;
    margin: 30px 50px 10px 50px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.auth-content {
    background-color: white;
    margin: 30px 10px 10px 10px;
    padding: 30px 50px 40px 50px;
}


/*===========Posts Styles==========*/
.post-date{
	background:#f4f4f4; /* gray color*/
	padding:4px;
	margin:3px 0; /* 3px up & down  0  right & left */
	display:block; /* from begining to the end */
}

.post-thumb{
	width:100%;
}

.pagination-links{
	margin:30px 0;
}
.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
a.pagination-links{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
/*for categories*/
.cat-delete{
	display:inline;
}




/*====  Custom Pages Styles  ====*/




/* Footer Styles */
.footer {
	padding: 1rem;

}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0px ;
    bottom:30px;
    height:0px;
    width:100%;
   
}