.center {
    text-align: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white {
    background-color: white !important;
}

.inline {
    display: inline-block;
}

.portfolio-item {
    margin-bottom: 25px;
}

.content {
    background-color: white;
    margin: 30px 50px 10px 50px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}